.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

canvas {
  display: block;
  background-color: #ffffff;
  margin-left: auto;
  margin-right: auto;
}

.centerScreen {
  text-align: center;
  display: block;
  position: absolute;
  z-index: 1;
  width: 100%;
}

.title {
  top: 20%;
  color: #000000;
  font-size: 60px;
}

.rules {
  top: 28%;
  color: #000000;
  font-size: 15px;
}

.score {
  top: 90%;
  color: #000000;
  font-size: 60px;
}

.startButton {
  top: 40%;
  position: absolute;
}
