.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

/* WELCOME PAGE */

.cowImage {
  right: 0%;
  bottom: 0%;
  height: 400px;
  position: absolute;
}

/* WelcomePage Title */
h1.ui.header {
  font-family: 'Londrina Shadow', cursive;
  font-size: 100px;
  top: 10%;
  position: absolute;
  width: 100%;
  max-width: 1251px!important;
}

/* WelcomePage Rules */
h3.ui.header {
  font-family: 'Londrina Solid', cursive;
  font-size: 35px;
}

.ui.text.container.rules {
  font-family: 'Londrina Solid', cursive;
  font-size: 26px;
  line-height: 1.5;
  top: 30%;
  position: absolute;
  width: 100%;
  max-width: 1251px!important;
}

/* Globe Image */
.ui.header>img:only-child {
  margin-right: 0rem;
}

.ui.header>img {
  width: 58px;
  margin-bottom: 15px;
}

/* Start Button */
.ui.black.button {
  top: 60%;
  font-family: 'Londrina Solid', cursive;
  font-size: 38px;
  position: absolute;
  border-radius: 2rem;
  padding: .5em;
}


/* GAME SCREEN */

canvas {
  display: block;
  background-color: #ffffff;
  margin-left: auto;
  margin-right: auto;
  border: 0.8rem solid black;
}

/* Score and Timer */
.ui.statistics {
  display: inline-block;
}

.ui.statistics .statistic>.value {
  font-family: 'Londrina Solid', cursive;
}

.ui.statistics .statistic>.value~.label {
  font-family: 'Londrina Solid', cursive;
  font-size: 25px;
}

/* GameScreen Title */
h2.ui.header {
  font-size: 55px;
  font-family: 'Londrina Shadow', cursive;
}
